[Unit]
Description=Docker ProRačun (proracun.me) service
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/proracun
EnvironmentFile=/home/proracun/.docker_env

ExecStartPre=-/usr/bin/docker login ghcr.io -u ProStudioMe -p ${TOKEN}
ExecStartPre=-/usr/bin/docker compose --env-file /home/proracun/.docker_env -f /home/proracun/docker-compose.yml pull
ExecStart=/usr/bin/docker compose --env-file /home/proracun/.docker_env -f /home/proracun/docker-compose.yml up -d --remove-orphans
ExecStop=/usr/bin/docker compose --env-file /home/proracun/.docker_env -f /home/proracun/docker-compose.yml down

TimeoutStartSec=300
Restart=on-failure
RestartSec=10

StandardOutput=append:/home/proracun/public_html/docker-proracun.log
StandardError=append:/home/proracun/public_html/docker-proracun-error.log

[Install]
WantedBy=multi-user.target
