# Primjer za /home/proracun/.docker_env (nije u gitu, chmod 600).
# TOKEN = GitHub PAT s read:packages (kao ostali docker-*.service na hostu).

TOKEN=
POSTGRES_PASSWORD=promijeni-jako
SEPKO_SECRET_KEY=promijeni-jako-random
SEPKO_SUPERADMIN_PASSWORD=promijeni-admin
SEPKO_ALLOWED_HOSTS=proracun.me,www.proracun.me
SEPKO_PARTNER_MODE=mock
SEPKO_CERT_DIR=/certs
SEPKO_BILLING_NAME=PROSTUDIO.ME DOO
SEPKO_BILLING_EMAIL=finansije@prostudio.me
SEPKO_BILLING_PIB=03452668
SEPKO_BILLING_ADDRESS=Bulevar 21. maj 24, Podgorica, Crna Gora
SEPKO_BILLING_PHONE=+382 67 254 256
SEPKO_LICENSE_MONTHLY_PRICE=15
SEPKO_LICENSE_ITEM_NAME=ProRačun Basic WEB
